<div class="contenedor_datos">
    <h2>Datos Personales</h2>
    <div>
        <p><b>Fecha de Nacimiento:</b> {{#dateTimeToDate Fecha_de_nacimiento}}{{/dateTimeToDate}}</p>
        <p><b>DNI:</b> {{DNI}}</p>
        <p><b>ID:</b> {{id}}</p>
        <p><b>E-Mail:</b> {{username}}</p>
        <p><b>Tel:</b> {{Numero_de_telefono}}</p>
        <p><b>Direccion: </b>{{domicilio}}</p>
    </div>
</div>
