   <div class="text">Tabla de curso</div>
      <div class="contenedor_documentacion">
      <div class="contenedor_nombre_doc">
      
        <select name="1er año">
          <option value="constancias">1°A</option>
          <option value="constancias">1°B</option>

        </select>

        <iconify-icon icon="bx:save" width="30" height="30" class="lapicito_boliviano"></iconify-icon>

      </div>
      <table class="bordered">
        <h2>Trimestre 1 XD</h2>
        <tr>
          <th>Alumno</th>
          {{#each b}}
            <th>NPA{{@index}}</th>
          {{/each}}
          <th>Final</th>
        </tr>
        <form action="">
          {{#each a}}
          <tr>
            <td><a href="/perfil/p/{{id}}">{{Nombre}}</a></td>
            {{#each ../b}}
              <td><input type="number" name="{{@../index}}nota_parcial{{@index}}" min="1" max="10" class="input_notas"></td>
            {{/each}}
            <td><input type="number" name="1nota_final" min="1" max="10" class="input_notas"></td>
          </tr>
          {{/each}}
        </form>
 
      </table>
    </div>
  <script>
    let sidebar = document.querySelector(".sidebar");
    let closeBtn = document.querySelector("#btn");
    let searchBtn = document.querySelector(".bx-search");

    closeBtn.addEventListener("click", () => {
      sidebar.classList.toggle("open");
      menuBtnChange();//calling the function(optional)
    });

    searchBtn.addEventListener("click", () => { // Sidebar open when you click on the search iocn
      sidebar.classList.toggle("open");
      menuBtnChange(); //calling the function(optional)
    });

    // following are the code to change sidebar button(optional)
    function menuBtnChange() {
      if (sidebar.classList.contains("open")) {
        closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
      } else {
        closeBtn.classList.replace("bx-menu-alt-right", "bx-menu");//replacing the iocns class
      }
    }
  </script>
