 <body>
    <ul id="mensaje_contenedor">
      <li>Como andas</li>
      {{#each message}}  
        {{#ifCond id_emisor '===' user.Nombre}}
          <li class="plantilla_mensaje mensaje_emisor">
            <div class="creador_mensaje">{{id_emisor}}</div>
            <div class="hora_mensaje">{{hora}}</div>
            <div class="contenido_mensaje">
                <p>{{contenido}}</p>
            </div>
          </li>
        {{else}}
          <li class="plantilla_mensaje mensaje_receptor">
            <div class="creador_mensaje">{{id_emisor}}</div>
            <div class="hora_mensaje">{{hora}}</div>
            <div class="contenido_mensaje">
                <p>{{contenido}}</p>
            </div>
          </li>
        {{/ifCond}}
      {{/each}}
    </ul>

    <form id="form_data" action="/msg" method="post" >
      <input type="text" id="msg_in" placeholder="Escribe un mensaje...">
      <input type="text" id="uname" value="{{user.Nombre}}" style="display: none;">
      <input type="number" id="uid" value="{{user.id}}" style="display: none;">
      <input type="number" id="cid" value="1" style="display: none;">
      <input type="submit" id="btn" value="Enviar"/>
    </form>
    
    <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script>
      $(document).ready(function(){
          $("form#form_data").on('submit', function(e){
              e.preventDefault();
              var form = document.getElementById('form_data');
              $.ajax({
                  type: 'post',
                  url: '/msg',
                  data: msgCompressing(form),
                  cache: false,
                  processData: false,
                  contentType: false
              })
              form.msg_in.value = '';
          });
      });

      function msgCompressing(data){
        let str = cleanData(data.msg_in.value);
        console.log(str);
        if (str != '')
        {
            let now = getDate();
            var msg = {
                user_id: data.uid.value,
                user_name: data.uname.value,
                chat: data.cid.value,
                text: str,
                date: now.date,
                time: now.time,
            };
        }
        return msg;
      }

      function getDate(){

          let date_ob = new Date();

          let date = ("0" + date_ob.getDate()).slice(-2);
          let month = ("0" + (date_ob.getMonth() + 1)).slice(-2);
          let year = date_ob.getFullYear();
          let hours = date_ob.getHours();
          let minutes = date_ob.getMinutes();
          let seconds = date_ob.getSeconds();

          let final_date = {
              //  YYYY-MM-DD
              date: year + "-" + month + "-" + date,
              //  HH:MM:SS
              time: hours + ":" + minutes + ":" + seconds,
          };
          return final_date;
      }

      function cleanData(str){

          let k = 0;
          while (k == 0){
              if(str[0] === ' '){
                  if(str.length == 1)
                      return '';
                  else
                      str = str.slice(1, str.length);
              }
              else
                  k = 1;
          }
          return str;
      }

      function showMsg(name, time, text){

          let ul = document.getElementById('mensaje_contenedor');
          let li = document.createElement("li");
          let div_name = document.createElement("div");
          let div_time = document.createElement("div");
          let div_text = document.createElement("div");

          li.classList.add("plantilla_mensaje","mensaje_emisor");
          div_name.classList.add("creador_mensaje");
          div_time.classList.add("hora_mensaje");
          div_text.classList.add("contenido_mensaje");

          div_name.textContent = name;
          div_time.textContent = time;
          div_text.textContent = text;

          li.appendChild(div_name);
          li.appendChild(div_time);
          li.appendChild(div_text);
          ul.appendChild(li);

          /*
          <li class="plantilla_mensaje mensaje_emisor">
              <div class="creador_mensaje">Martin Touriño</div>
              <div class="contenido_mensaje">
                  <img src="/Alumnos/media/momo_sad2.jpg" alt="">
                  Que sad prro :'v xdxdxdxd
              </div>
          </li>
          */
      }
    </script>
  </body>