 <body>
    <ul id="mensaje_contenedor">
      <li>{{user.password}}</li>
      <li>Como andas</li>
      <li>DFEAAAAAAAAAAAAAAAAA</li>

      {{!-- {{#each msg}}
        
        <li class="plantilla_mensaje mensaje_emisor">
            <div class="creador_mensaje">{{user.Nombre}}</div>
            <div class="contenido_mensaje">
                <img src="/Alumnos/media/momo_sad2.jpg" alt="">
                Que sad prro :'v xdxdxdxd
            </div>
        </li>
                                          <div class="publicaciones_autor">
                                          <div class="autor_nombre">
                                              {{Nombre}}
                                          </div>
                                          <div class="autor_fecha">
                                              12/3/2022
                                          </div>
                                      </div>
                                      <div class="publicaciones_contenido">
                                          <div class="contenido_titulo">
                                              {{titulo}}
                                          </div>
                                          <div class="contenido_texto">
                                              {{descripcion}}
                                          </div>
                                          <div class="contenido_vermas">
                                              <a class="boton_vermas">Ver Mas</a>
                                          </div>
                                      </div>
    {{/each}} --}}

    </ul>

    <form action="/msg" method="get" target="iframe" onsubmit="send(this.msg_in.value)">
      <input type="text" id="msg_in" placeholder="Escribe un mensaje...">
      <input type="submit" id="btn" value="Enviar"/>
    </form>	
    <iframe name="iframe" id="frame" src=""
      style="height: 250px; width: 250px;">
    </iframe>
    
    <script>
      window.onload = function() {
        const iframe = document.getElementById("frame");
        const iDocument = iframe.contentDocument;
        const iBody = iDocument.body;
        iBody.innerHTML = 
          '<form id="iform" action="" method="get" > <input type="text" id="msg" > <input type="text" id="uname" value="{{user.Nombre}}" > <input type="number" id="uid" value="{{user.id}}" > <input type="number" id="cid" value="" > </form>';
          
      };
      function send(data){
        const iframe = document.getElementById("frame");
        const iDocument = iframe.contentDocument;
        var iform = iDocument.getElementById('iform');
        var msg = iDocument.getElementById('msg');
        msg.setAttribute('value', data);
        iform.submit();
        console.log(msg.value); 
        let time = new Date();
        console.log(time); 
        /*
        let str = cleanData(data.msg.value);
        console.log(str);
        if (str != '')
        {
            let now = getDate();
            let msg = {
                user_id: data.uid.value,
                user_name: data.uname.value,
                chat: 0,//id del chat document.getElementByClass('chat active');
                text: str,
                date: now.date,
                time: now.time,
            };
            let db = {
                connectionLimit: data.dbc.value,
                host: data.dbh.value,
                user: data.dbu.value,
                password:  data.dbp.value,
                database:  data.dbdb.value,
            }
            console.log(db);
            showMsg(msg.user_name, msg.time, msg.text);
            let sql = "INSERT INTO mensajes (chat, id_emisor, contenido, fecha, hora) VALUES ("+msg.chat+", "+msg.user_id+", '"+msg.text+"', '"+msg.date+"', '"+msg.time+"')";
            console.log(sql);
            
            // pool.query(sql, function (err, result) {
            //     if (err) throw err;
            //     console.log("1 record inserted");
            // });
            
        }
        */
      }
    </script>
  </body>