 <body>
    <ul id="mensaje_contenedor">
      <li>Como andas</li>
      {{#each message}}
        {{#ifCond id_emisor '==' userid}}
          <li class="plantilla_mensaje mensaje_emisor">
            <div class="creador_mensaje">{{id_emisor}}</div>
            <div class="hora_mensaje">{{hora}}</div>
            <div class="contenido_mensaje">
                <p>{{contenido}}</p>
            </div>
          </li>
        {{else}}
          <li class="plantilla_mensaje mensaje_receptor">
            <div class="creador_mensaje">{{id_emisor}}</div>
            <div class="hora_mensaje">{{hora}}</div>
            <div class="contenido_mensaje">
                <p>{{contenido}}</p>
            </div>
          </li>
        {{/ifCond}}
      {{/each}}
    </ul>

    <form id="form_data" action="/msg" method="post" >
      <input type="text" name="msg_in" id="msg_in" placeholder="Escribe un mensaje...">
      <input type="text" name="uname" id="uname" value="{{user.Nombre}}" style="display: none;">
      <input type="number" name="uid" id="uid" value="{{user.id}}" style="display: none;">
      <input type="number" name="cid" id="cid" value="1" style="display: none;">
      <input type="submit" id="btn" value="Enviar"/>
    </form>
    
    <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="/js/msg.js"></script>
  </body>