<section class="home-section">
  <div class="text">Mensajes</div>

  <div class="contenedor_principal">
    <div class="contenedor_superior_busqueda">
      <div class="contenedor_superior_busqueda_input"><input type="search" placeholder="Buscar..."></div>
    </div>
    <div class="contenedor_superior">
      <h4>Lunes 30/05- Actividad en el turno tarde SUSPENDIDA -</h4> 
      <h6>116 Participantes</h6>
    </div>
    <div class="contenedor_medio_lateral">
      <ul>
        <li>Lunes 30/05- Actividad en el turno tarde SUSPENDIDA -</li>
        <li>Documentación pendiente -</li>
        <li>ACLARACION SOBRE AUSENTE NO COMPUTABLE -</li>
        <li>NUEVA FECHA DE VACUNACION COVID 19 EN LA PARROQUIA -</li>
        <li>Vacunación 24 de Mayo -</li>
        <li>VACUNACIÓN MARTES 24 DE MAYO -</li>
      </ul>
    </div>
    <div class="contenedor_medio">
      <ul id="mensaje_contenedor" class="mensaje_contenedor">
        <li class="plantilla_mensaje mensaje_receptor">Como andas</li>
        {{#each message}}
          {{#ifCond id_emisor '==' userid}}
            <li class="plantilla_mensaje mensaje_emisor">
              <div class="creador_mensaje">{{id_emisor}}</div>
              <div class="hora_mensaje">{{hora}}</div>
              <div class="contenido_mensaje">
                  <p>{{contenido}}</p>
              </div>
            </li>
          {{else}}
            <li class="plantilla_mensaje mensaje_receptor">
              <div class="creador_mensaje">{{id_emisor}}</div>
              <div class="hora_mensaje">{{hora}}</div>
              <div class="contenido_mensaje">
                  <p>{{contenido}}</p>
              </div>
            </li>
          {{/ifCond}}
        {{/each}}
      </ul>
    </div>
    <div class="contenedor_inferior_lateral">
    </div>
    <div class="contenedor_inferior">
      <div class="contenedor_input">
        {{!-- <input type="text" placeholder="Escribí un mensaje...">
        <a href="">></a>
          --}}
        <form id="form_data" action="/msg" method="post" >
          <input type="text" name="msg_in" id="msg_in" placeholder="Escribe un mensaje...">
          <input type="text" name="uname" id="uname" value="{{user.Nombre}}" style="display: none;">
          <input type="number" name="uid" id="uid" value="{{user.id}}" style="display: none;">
          <input type="number" name="cid" id="cid" value="1" style="display: none;">
          <input type="submit" id="submit" value="Enviar"/>
          {{!-- <a href="">></a> --}}
        </form>
      </div>
    </div>
  </div>
</section>

<script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="/js/msg.js"></script>
<script>
  let submit = document.getElementById("submit");
  submit.addEventListener("click", () => {
    console.log('Detecta');
  });

  let sidebar = document.querySelector(".sidebar");
  let closeBtn = document.querySelector("#btn");
  let searchBtn = document.querySelector(".bx-search");

  closeBtn.addEventListener("click", () => {
    sidebar.classList.toggle("open");
    menuBtnChange();//calling the function(optional)
  });

  searchBtn.addEventListener("click", () => { // Sidebar open when you click on the search iocn
    sidebar.classList.toggle("open");
    menuBtnChange(); //calling the function(optional)
  });

  // following are the code to change sidebar button(optional)
  function menuBtnChange() {
    if (sidebar.classList.contains("open")) {
      closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
    } else {
      closeBtn.classList.replace("bx-menu-alt-right", "bx-menu");//replacing the iocns class
    }
  }
</script>