 <body>
    <ul id="mensaje_contenedor">
      <li>{{db.connectionLimit}}</li>
      <li>{{db.host}}</li>
      <li>{{db.user}}</li>
      <li>{{db.password}}</li>
      <li>{{db.database}}</li>

      {{!-- {{#each msg}}
        
        <li class="plantilla_mensaje mensaje_emisor">
            <div class="creador_mensaje">{{user.Nombre}}</div>
            <div class="contenido_mensaje">
                <img src="/Alumnos/media/momo_sad2.jpg" alt="">
                Que sad prro :'v xdxdxdxd
            </div>
        </li>
                                          <div class="publicaciones_autor">
                                          <div class="autor_nombre">
                                              {{Nombre}}
                                          </div>
                                          <div class="autor_fecha">
                                              12/3/2022
                                          </div>
                                      </div>
                                      <div class="publicaciones_contenido">
                                          <div class="contenido_titulo">
                                              {{titulo}}
                                          </div>
                                          <div class="contenido_texto">
                                              {{descripcion}}
                                          </div>
                                          <div class="contenido_vermas">
                                              <a class="boton_vermas">Ver Mas</a>
                                          </div>
                                      </div>
    {{/each}} --}}

    </ul>

    <form action="/msg" method="post" target="iframe" onsubmit="return send(this.msg_in.value)">
      <input type="text" id="msg_in" placeholder="Escribe un mensaje...">
      <input type="submit" id="btn" value="Enviar"/>
    </form>	
    <iframe name="iframe" id="frame" src="">
      <form id="iform" action="/msg" method="post" >
        <input type="text" id="msg" value="" style="display:none;">
        <input type="text" id="uname" value="{{user.Nombre}}" style="display:none;">
        <input type="number" id="uid" value="{{user.id}}" style="display:none;">
        <input type="number" id="cid" value="" style="display:none;">

        <input type="number" id="dbc" value="{{db.connectionLimit}}" style="display:none;">
        <input type="text" id="dbh" value="{{db.host}}" style="display:none;">
        <input type="text" id="dbu" value="{{db.user}}" style="display:none;">
        <input type="text" id="dbp" value="{{db.password}}" style="display:none;">
        <input type="text" id="dbdb" value="{{db.database}}" style="display:none;">
      </form>
    </iframe>
    
    <script>
      function send(form){
        console.log(form);
        const iframe = document.getElementById("frame");
        const iDocument = iframe.contentDocument;
        console.log(iframe);
        console.log(iDocument);
        console.log(iDocument.body);
        let msg = iDocument.getElementById(msg);
        console.log(msg);
        return false;
      }
    </script>
  </body>