<div class="contenedor_creacion_materia"> 
    <form id="form" method="post">
    <h1>Creación de Materia</h1>
    <br>
    <h4>¿Cual es el nombre de la materia?</h4>
    <input type="text" name="name" id="name" required> 

    <br> <br> <br>

    <h4>¿A qué curso pertenece esta materia?</h4>
    <select name="curso">
        <option selected value="-1">Seleccione un curso</option>
        {{#each cursos}}
            <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select>
    
    <br> <br> <br>

    <h4>¿Quien es el docente a cargo?</h4>
    <select name="doc">
        <option selected value="-1">Seleccione un docente</option>
        {{#each docs}}
            <option value="{{id}}">{{name}}  ({{email}})</option>
        {{/each}}
    </select>

    <button 
        type="submit"
        class="boton_siguiente"
        > Crear Materia
    </button>

    </form>
</div>

<script>
    $('#form').submit(e => {
        e.preventDefault();
        
        if(/(<|>|\?|\\|=|\+|-|_|$|;|`|'|"|\/|\(|\)|\{|\}|\[|\])/g.test(e.target.name.value)){
            alert('El nombre de la materia tiene caracteres no disponibles');
            e.target.name.value = '';
        } else if(e.target.curso.value == -1){
            alert('Debes seleccionar un curso para la materia');
        } else if(e.target.doc.value == -1){
            alert('Debes seleccionar un docente para la materia');
        } else {
            $.ajax({
                type: "POST",
                url: "../../../../../../../../../../crear_materias",
                data: {
                    name: e.target.name.value, 
                    doc: e.target.doc.value,
                    curso: e.target.curso.value
                }
            });
            alert('Se creo la materia correctamente');
            e.target.name.value = '';
            e.target.doc.value = -1;
            e.target.curso.value = -1;
        }
    });
</script>