<div class="text">Buscar</div>
  <section class="home-section">
          <div class="contenedor_nav">
            <ul class="list">

                <li class="list__item">
                    <div class="list__button">
                        <h2>Cursos</h2>
                    </div>
                </li>
    
                {{#each list}}
                <li class="list__item list__item--click">
                    <div class="list__button list__button--click">
                        <a href="#" class="nav__link">{{#anioToString anio}}{{/anioToString}}</a>
                        <img src="/media/arrow.svg" class="list__arrow">
                    </div>
    
                    <ul class="list__show" style="height: 0px;">
                        {{#each division}}
                        <li class="list__inside">
                            <a href="/tablaCurso/{{id}}" class="nav__link nav__link--inside">{{../anio}}°{{curso}}</a>
                        </li>
                        {{/each}}
                    </ul>
                </li>
                {{/each}}
            </ul>
        </nav>
    </div>

    {{#if tdu 4}}
      <div class="contenedor_nav">
      <ul class="list">

          <li class="list__item">
              <div class="list__button">
                  <h2>Materias</h2>
              </div>
          </li>
        {{#each listMat}}
          <li class="list__item list__item--click">
              <div class="list__button list__button--click">
                  <a href="#" class="nav__link">{{materia}}</a>
                  <img src="/media/arrow.svg" class="list__arrow">
              </div>

              <ul class="list__show" style="height: 0px;">
                {{#each cursos}}
                  <li class="list__inside">
                      <a href="cargarNotas/{{this.idMateria}}" class="nav__link nav__link--inside">{{../materia}} {{#cursoToString this.curso}}{{/cursoToString}}</a>
                  </li>
                {{/each}}
              </ul>
          </li>
        {{/each}}
      </ul>
  </nav>
</div>
    {{/if}}
    
        <script src="../../../js/main.js"></script>
        <script>
    let sidebar = document.querySelector(".sidebar");
    let closeBtn = document.querySelector("#btn");
    let searchBtn = document.querySelector(".bx-search");

    closeBtn.addEventListener("click", () => {
      sidebar.classList.toggle("open");
      menuBtnChange();//calling the function(optional)
    });

    searchBtn.addEventListener("click", () => { // Sidebar open when you click on the search iocn
      sidebar.classList.toggle("open");
      menuBtnChange(); //calling the function(optional)
    });

    // following are the code to change sidebar button(optional)
    function menuBtnChange() {
      if (sidebar.classList.contains("open")) {
        closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
      } else {
        closeBtn.classList.replace("bx-menu-alt-right", "bx-menu");//replacing the iocns class
      }
    }
  </script>

    </section>