<div class="text">Tabla de materias</div>
<div class="contenedor_documentacion">
  <div class="contenedor_nombre_doc">
  </div>
  <form action="/api/actualizarCurso" method="POST" name="tabla" id="tabla">
    <input type="submit" value="Guardar">
    <input type="submit" value="Eliminar materia">
    <table class="bordered">
      <tr>
        <th>Id</th>
        <th>Materia</th>
        <th>Curso</th>
        <th>Profesor</th>
      </tr>
      <tr>
        <input type="hidden" name="id" value="{{a.ID}}">
        <td>{{a.ID}}</td>
        <td>
          <input type="text" name="materia" id="mateira" value="{{a.Materia}}"></td>
        <td>
          <select name="curso" id="curso">
            <option value="{{a.IdCurso}}" hidden selected>{{a.Nombre_curso}}</option>
          </select>
        </td>
        <td>
          <select name="profesor" id="profesor">
            <option value="{{a.profesor}}" hidden selected>{{a.nombre}}</option>
          </select>
        </td>
      </tr>
    </table>
  </form>
</div>

<script>

  fetch('/api/listarCursos')
  .then((response) => response.json())
  .then((data) => data.forEach(d => {
    $('#curso').append(cursoToHtml(d));
  }));

  function cursoToHtml(c){
    return `<option value="${c.ID}">${c.Nombre_curso}</option>`;
  }
  
 fetch('/api/listarDocentes')
  .then((response) => response.json())
  .then((data) => data.forEach(d => {
    $('#profesor').append(profesorToHtml(d));
  }));

  function profesorToHtml(c){
    return `<option value="${c.id}">${c.nombre}</option>`;
  }
</script>