
    <div class="text">Tabla de curso</div>
      <div class="contenedor_documentacion">
      <div class="contenedor_nombre_doc">
      
        <div class="select"><select name="selectCurso" id="selectCurso" onchange="updateURL()">
          <option value="" hidden="hidden" selected="selected" id="optionSelected"></option>
          {{#each b}}
            <option value="{{ID}}">{{#cursoToString Nombre_curso}}{{/cursoToString}}</option>
          {{/each}}
        </select>
        </div>
        {{#if tdu 3}}
          <button class="input_cargar_inasistencias" id="selectTodos" onclick="selectTodos()">Seleccionar todos</button>
          <input disabled type="submit" class="input_cargar_inasistencias"  value="Cargar Inasistencias" form="tabla" id="cargarBtn">
        {{/if}}
      </div>
      <form action="../cargar_inasistencias_render" method="post" name="tabla" id="tabla">
        <table class="bordered">
          <tr>
            {{#if tdu 1}}
              <th>Editar</th>
            {{/if}}
            <th>Apellido y nombre</th>
            <th>Tutor</th>
            <th>E-mail</th>
            <th>Teléfono</th>   
          </tr>
          {{#each a}}
              <tr>
                {{#if ../tdu 1}}
                  <td><a href="../buscarCuenta/{{id}}"><i class="bx bx-edit"></i></a></th>
                {{/if}}
                <td>
                  {{#if ../tdu 3}}
                  <label class="label_checkbox" for="al{{id}}"><input class="checkbox_alumnos" type="checkbox" name="idSeleccionados" id="al{{id}}" value="{{id}}" onchange="verif()">
                  {{/if}}
                  <a class="nombre_alumnos" href="../perfil/p/{{id}}">{{nombre}}</a>
                  </label>
                  <input type="hidden" name="idAlumnos" id="al{{id}}" value="{{id}}">
                  <input type="hidden" name="nombreAlumnos" id="Nal{{id}}" value="{{nombre}}">
                </td>
                <td><a href="../perfil/p/{{Padre}}">{{nombre_tutor}}</a></td>
                <td>{{username}}</td>
                <td>{{Numero_de_telefono}}</td>
              </tr>
          {{/each}}
        </table>
      </form>
    </div>
  <script>
    let url = window.location.href;
    let idCurso = url.split("tablaCurso/");
 

    fetch('/api/idCursoToName/'+parseInt(idCurso[1]))
    .then((response) => response.json())
    .then((data) => document.getElementById("optionSelected").innerHTML = data['C'].split('').join('°'));


    let sidebar = document.querySelector(".sidebar");
    let closeBtn = document.querySelector("#btn");
    let searchBtn = document.querySelector(".bx-search");

    closeBtn.addEventListener("click", () => {
      sidebar.classList.toggle("open");
      menuBtnChange();//calling the function(optional)
    });

    searchBtn.addEventListener("click", () => { // Sidebar open when you click on the search iocn
      sidebar.classList.toggle("open");
      menuBtnChange(); //calling the function(optional)
    });

    // following are the code to change sidebar button(optional)
    function menuBtnChange() {
      if (sidebar.classList.contains("open")) {
        closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
      } else {
        closeBtn.classList.replace("bx-menu-alt-right", "bx-menu");//replacing the iocns class
      }
    }


    function updateURL() {
        var selectBox = document.getElementById("selectCurso");
        var selectedValue = selectBox.options[selectBox.selectedIndex].value;
        window.location.replace("/tablaCurso/" + selectedValue);
    };

    function selectTodos(){
      if($("input[type=checkbox]:checked").length == $("input[type=checkbox]").length){
        $("input[type=checkbox]").prop('checked', false);
      }else{
        $("input[type=checkbox]").prop('checked', true);
      }
      if($("input[type=checkbox]:checked").length == 0){
        $('#cargarBtn').prop('disabled',true)
      }else{
        $('#cargarBtn').prop('disabled',false)
      }
    }

    function verif(){
      if($("input[type=checkbox]:checked").length == 0){
        $('#cargarBtn').prop('disabled',true)
      }else{
        $('#cargarBtn').prop('disabled',false)
      }
    }

    
  </script>
